body {
    margin: 0;
    padding: 0;
    /* Following Font from Google Fonts*/
    font-family: "Cantata One", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h3 {
    background-color: lightblue;
}

h3, h4, h5, p{
    margin: 0;
    padding: 10px;
}

h5 {
    padding: 10px;
    font-size: large;
    font-weight: 300;
}

hr {
    border: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#picName li {
    padding-right: 5px;
}

img {
    width: 40px;
    height: auto;
}

#directory li{
    padding-left: 10px;
}

section {
    text-align: center;
    padding-bottom: 25px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content div {
    flex: 1;
    border: solid black;
}

#reviews {
    display: flex;
}

.review {
    flex: 1;
    margin: 10px;
    border: solid black;
    padding: 10px;
    border-radius: 25px;
}

footer {
    position: static;
    padding: 50px 0 10px;
    text-align: center;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
        text-align: left;
    }

    #reviews {
        flex-direction: column;
    }

    .review {
        margin: 10px 10px;
    }
}